
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Vehiculo</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./css/estilo_formularios.css">
    
    
</head>
<body>
    <h1>Cambiar mi Rol</h1>
   <div class="form-register">
    <form action="/cambiarrol" method="POST" >
      <h4>Formulario Para Cambiar Rol</h4>
      <label for="username">ID de Usuario</label>
      <input class="controls" type="text" name="usuid"  placeholder="ID">
      <label for="username">Nuevo Rol</label>
      <input class="controls" type="text" name="rolid"  placeholder="1.Vendedor - 2.Comprador">
      
      <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
      <button class="button" type="submit">Cambiar</button> 
    </form>
   </div>
  

  </body>
</html>