
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vehiculo</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="./css/estilo_formularios.css">
    
    
</head>
<body>
    <div class="form-register">
        <form action="/precio" method="POST" >
          <h4>Filtrar Vehiculos por Precio</h4>
    
          <label for="username">Digite El rango inical</label>
          <input class="controls" type="number" name="vi" placeholder="Rango Inicial">
    
          <label for="username">Digite El rango final</label>
          <input class="controls" type="number" name="vf" placeholder="Rango final">


          <button class="button" type="submit">Buscar</button> 
        </form>
       </div>

   
   

  </body>
</html>